<html lang="en">

<head>
    
    <title>IOT page</title>
    <!-- <link rel="stylesheet" href=( __dirname + "/" + "iot.css" )/> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    
    
    <style>
    .heade{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(42, 25, 25, 0.692);
    }

    .cardi{
        padding-top: 13%;
        height:76%
    }
    .tit{
        padding-top: 8%;
        text-align: center;
        color: white;
    }
    .card{
        height: 140%;
        
    }
    .fot{
        padding-top: 2%;
        text-align: center;
    }
  
    </style>
    
    <script src = "https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
    
</head>



<nav class="navbar  navbar-light  py-4 shadow-sm">
    <h1 class="heade">TOILET MANAGEMENT SYSTEM</h1>
    
</nav>
<div class="cardi bg-dark">
    <div class="container">
        <div class="row ">
            <div class="col-md-3">
                <div class="card bg-secondary">
                    <div class="card-block">
                        <h4 class="card-title tit">IR Sensor</h4>
                        <p class="tit">
                            to check so and so
                        </p>
                        <div class = "tit" id="a"> <%= IR %> </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-secondary">
                    <div class="card-block">
                        <h4 class="card-title tit">SMELL Sensor</h4>
                        <p class="tit">
                            to check so and so
                        </p>
                        <div class = "tit" id="b"> <%= smell %> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-secondary">
                    <div class="card-block">
                        <h4 class="card-title tit">GAS Sensor</h4>
                        <p class="tit">
                            to check so and so
                        </p>
                        <div class = "tit" id="c"> <%= gas %> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-secondary">
                    <div class="card-block">
                        <h4 class="card-title tit">ULTRASONIC Sensor</h4>
                        <p class="tit">
                            to check so and so
                        </p>
                        <div class = "tit" id="d"> <%= RGB %> </div>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
</div>
<footer class="py-7 fot heade">
    <h4 >Done By</h4>
    <p>Protekle</p>

</footer>

</body>

</html>



